.cardImg {
  width: 400px;
  height: 400px;
  margin: 20px auto;
}
.cardBodyMl {
  margin-left: 20px;
}
.cardButtonSize {
  margin-left: 0 !important;
  width: 400px;
  height: 300px;
}

@media (max-width: 768px) {
  .cardImg {
    width: 90%;
    height: 90%;
  }
  .cardButtonSize {
    width: 100%;
    height: 200px;
  }
}