.chorContainer {
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
}

.chorItem {
  flex: 1;
}
.chorText {
  padding-left: 40px;
}

@media (max-width: 768px) {
  .chorContainer {
    flex-direction: column;
  }
  .chorText {
    padding-left: 0;
    padding-top: 20px;
  }
}