.main {
    margin-top: 6em;
}

.content {
    max-width: 1200px;
    margin: 6em auto;
}

.bcsTop {
  margin-bottom: 6px;
}
.bcsBottom {
  border-bottom: 1px solid gray;
  padding-bottom: 20px; 
  margin-bottom: 20px;
}

.backButton {
   position: relative;
}
.backButton > a {
  position: absolute;
  top: 1.8em;
}
.handyBackButton {
  display: none;
}

.entryTypeWrapper {
  height: 120px;
  margin: 2em 0;
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  justify-content: left;
  align-items: center;
}

.searchOptions {
  display: flex;
  padding: 0;
  margin: 0;
}
.searchOptionsText {
  margin-top: -3px;
  padding-right: 6px;
}
.searchOptionsQuestionmark {
  margin-top: -3px;
  padding-left: 2px;
}

.footerLine {
  margin-top: 2em;
}


@media (max-width: 800px) {
  .handyBackButton {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
  }
  .backButton {
    display: none !important;
  }
  .searchOptions {
    margin-top: 2em;
  }
}

@media (max-width: 550px) {
  .searchOptionsText {
    display: none;
  }
  .searchOptionsQuestionmark {
    display: none;
  }
}