:root, section {
  justify-content: start !important;
}
section ul {
  margin-bottom: 8px !important;
}
section ul li {
  margin-top: 0;
}

.container {
  padding-left: 250px;
  padding-right: 50px;
  max-width: 100%;
}
.title {
  padding-top: 40px;
  font-size: 1.2em
}
.u1 {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.subtitle {
  margin: 50px 0 0 80px;
  font-size: 1.2em;
  line-height: 1.4;
}
.location {
  margin: 100px 0 0 80px;
  font-size: 0.7em;
  line-height: 1.2;
}
.text {

}
.columns {
  display: flex;
  align-items: center;
  gap: 100px;    
}
ul > ul {
  margin-top: 10px;
}