.footerDiv {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    display: block;
    padding-right: 32px;
    margin: 6px;
    color: white;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
    color: rgb(121, 104, 57)
}