/* grün: #9AE6B4, #68D391, #48BB78, #38A169, #2F855A, #276749, #22543D, #1C4532, #C6F6D5 */
/* gelb: #FFF8EA */
/* blau: #6e91a1, #477286, #27556c, #113c51, #032536 */

.heavenDiv {
  display: block;
  background-color: #C6F6D5;
  position: fixed;
  width: 100%;
  height: 40px;
}
.heavenSmallDiv {
  display: none;
  background-color: #C6F6D5;
  position: fixed;
  width: 100%;
  height: 40px;
}
.heavenSmallestDiv {
  display: none;
  background-color: #C6F6D5;
  position: fixed;
  width: 100%;
  height: 40px;
}
.text {
  max-width: 1200px;
  margin: 0;
  padding: 6px 0 0 32px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 700px) {
  .heavenDiv {
    display: none;
   }
  .heavenSmallDiv {
   display: block;
  }  
}

@media (max-width: 350px) {
  .heavenSmallDiv {
    display: none;
   }  
  .heavenSmallestDiv {
    display: block;
   }
}