.heavenDiv {
  display: block;
  background-color: #FFF8EA;
  position: fixed;
  width: 100%;
  height: 40px;
}
.heavenSmallDiv {
  display: none;
  background-color: #FFF8EA;
  position: fixed;
  width: 100%;
  height: 40px;
}
.heavenSmallestDiv {
  display: none;
  background-color: #FFF8EA;
  position: fixed;
  width: 100%;
  height: 40px;
}
.text {
  max-width: 1200px;
  margin: 0;
  padding: 6px 0 0 32px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 700px) {
  .heavenDiv {
    display: none;
   }
  .heavenSmallDiv {
   display: block;
  }  
}

@media (max-width: 350px) {
  .heavenSmallDiv {
    display: none;
   }  
  .heavenSmallestDiv {
    display: block;
   }
}