.headerText {
  font-style: italic;
  text-align: center;
  margin-top: 100px;
  height: 200px;
} 
.ukName { 
  font-weight: 300em; 
  margin: 0;
}
.hmtmFunctions { 
  margin-top: 15px; 
  margin-bottom: 0;
  font-weight: lighter;
}
.hmtm { 
  margin-top: 0;  
  font-weight: lighter;
}  

.homeImageContainer {
  width: 100%;
  position: relative;
}
.homeWImage {
  width: 100%;
  display: none;
}
.homeWoImage {
  width: 100%;
  display: block;
}

.homeGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
._d1 {
  grid-column: 18/22;
  grid-row: 6/8;
  margin-left: 10%;
}
._11 {
  grid-column: 11/17;
  grid-row: 9/11;
  margin-right: 6%;
}
._12 {
  grid-column: 11/17;
  grid-row: 12/14;
  margin-right: 6%;
}
._13 {
  grid-column: 11/17;
  grid-row: 16/18;
  width: 105%;
  margin-bottom: 5%;
}
._21 {
  grid-column: 18/22;
  grid-row: 9/11;
  margin-left: 10%;
}
._22 {
  grid-column: 18/22;
  grid-row: 12/14;
  margin-left: 10%;
}
._31 {
  grid-column: 24/30;
  grid-row: 9/11;
  margin-right: 6%;
}
._32 {
  grid-column: 24/30;
  grid-row: 12/14;
  margin-right: 6%;
}
._33 {
  grid-column: 23/30;
  grid-row: 16/18;
  margin-bottom: 4%;
  margin-left: 4%;
  width: 90%;
}
._ul {
  grid-column: 24/30;
  grid-row: 17/19;
}
._ur {
  grid-column: 11/17;
  grid-row: 17/19;
}

a.window, a.windowULeft, a.windowURight {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fbffff;
  border: 2px solid rgb(0, 58, 102);
  border-radius: 4px;
  transition: 500ms background ease-in-out;   
  transition-delay: 500ms;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6%;
}
a.window:hover, a.windowULeft:hover, a.windowURight:hover {
  border-color: gray;
  background-color: rgb(255, 249, 214);
  transition-delay: 0s;
  color: black;
  font-weight: bolder;
}
a.windowULeftText, a.windowURightText {
  display: block;
  padding-top: 6px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black
}

img.windowULeftImage, img.windowURightImage {
  max-width: 100%;
  background-color: transparent;
  border: 0;
  display: relative !important;
}

/* DT Displays */
@media (max-width: 1920px) {
  .headerText {
    margin-top: 80px;
    height: 180px;
  }
}

/* Smaller Desktop */
@media (max-width: 1121px) {
  .headerText {
    margin-top: 40px;
    height: 120px;
  }
  .hmtmFunctions { 
    font-size: 1.5em;
  }
  .hmtm { 
    font-size: 1.5em;
  }
  .window {
    font-size: 1em !important;
  }
}

/* Tablet */
@media (max-width: 1120px) {
  .headerText {
    margin-top: 20px;
    height: 100px;
  }
  .ukName { 
    font-size: 2em; 
  }
  .hmtmFunctions { 
    font-size: 1em;
    font-weight: 50em;
  }
  .hmtm { 
    font-size: 1em;
    font-weight: 50em;
  }
  .window {
    font-size: 0.9em !important;
  }
}

/* queries for smaller home image links  */
@media (max-width: 999px) {
  .window {
    font-size: 0.8em !important;
  }
}
@media (max-width: 900px) {
  .window {
    font-size: 0.7em !important;
  }
}
@media (max-width: 800px) {
  .window {
    font-size: 0.6em !important;
  }
}

/* Mobile */
@media (max-width: 700px) {  
  .homeGrid {
    position: static;
    padding: 36px 16% 0;
    display: flex;
    flex-direction: column;
  }
  .homeGrid > div {
    margin: 0;
    border: solid 1px gray;
    width: 100%;
  }
  .homeWoImage {
    display: none;
  }
  .homeWImage {
    display: block;
  }
  a.window, a.windowULeftText, a.windowURightText {
    margin: 0;
    border: 0;
    height: 3em;
    font-size: 1em !important;
  }
  a.windowULeftText, a.windowURightText {
    padding-top: 10px;
  }
  a.windowULeftText:hover, .windowURightText:hover {
    border-color: gray;
    background-color: rgb(255, 249, 214);
    transition-delay: 0s;
    color: black;
    font-weight: bolder;
  }
  .windowULeft, .windowURight {
    display: none !important;
  }
}